<section class="row">
  <article class="column">
    <h2>Playlists</h2>
    <ul>
      <%= for playlist <- @playlists do %>
        <li>
          <a href= <%= "/playlists/" <> playlist["id"] %> > <%= playlist["name"] %> </a>
          <img src= <%= List.first(playlist["images"])["url"] %> style="max-width: 100px"/>
        </li>
      <% end %>
    </ul>
  </article>
</section>
